<style>
    body {
        background-color:#0D1E96;
    }
    .contenedor-icono svg{
    width: 50px;
    height: 50px;
    color: #2d75e0;
    }
    .contenedor-icono1 svg{
    width: 50px;
    height: 50px;
    color: #FF6D00;
    }

    div.content{
        
        margin-top: 30px;
        margin: 30px;
        background-color: #c6d8ff ;
    }
</style>

<!-- Funcion de Buscador -->
<script type="text/javascript">
    (function(document) {
      'use strict';

      var LightTableFilter = (function(Arr) {

        var _input;

        function _onInputEvent(e) {
          _input = e.target;
          var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
          Arr.forEach.call(tables, function(table) {
            Arr.forEach.call(table.tBodies, function(tbody) {
              Arr.forEach.call(tbody.rows, _filter);
            });
          });
        }

        function _filter(row) {
          var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
          row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
        }

        return {
          init: function() {
            var inputs = document.getElementsByClassName('light-table-filter');
            Arr.forEach.call(inputs, function(input) {
              input.oninput = _onInputEvent;
            });
          }
        };
      })(Array.prototype);

      document.addEventListener('readystatechange', function() {
        if (document.readyState === 'complete') {
          LightTableFilter.init();
        }
      });

    })(document);

        function soloLetras(e) {
    let key = e.keyCode || e.which,
      tecla = String.fromCharCode(key).toLowerCase(),
      letras = " áéíóúabcdefghijklmnñopqrstuvwxyz",
      especiales = [8, 37],
      tecla_especial = false;

    for (let i in especiales) {
      if (key == especiales[i]) {
        tecla_especial = true;
        break;
      }
    }

    if (letras.indexOf(tecla) == -1 && !tecla_especial) {
      return false;
    }
    }
    </script>

<div class="content contenedor-icono1">
   <a type="button"  href="/vernota" style=" margin-top:10px; margin-left:20px; border-radius:50px;" class="btn btn-default btn-circle btn-xl"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
    </svg></a>    

     <div class="container-fluid">
     <form class="d-flex" role="search">
        <input class="form-control me-2 light-table-filter" data-table="order-table"  onkeypress="return soloLetras(event)" type="text" placeholder="Buscar Estudiante" aria-label="Search" style="margin-left:80%; border-color:#FF6D00; font-family: 'Cuprum', sans-serif; color:#0D1E96" >
     </form>
     </div>  

<center><h1 style="font-family: 'Cuprum', sans-serif;color:#0D1E96; margin-top: 1px;" class="mb-4">
  <div class="contenedor-icono">
    <svg style="color: #0D1E96;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book-fill" viewBox="0 0 16 16">
      <path d="M8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
    </svg></div>
      LISTADO DE CALIFICACIONES SEXTO GRADO</h1></center>

<div class="position-relative">
  <div class="position-absolute top-0 start-100 translate-middle">
    <div class="contenedor-icono" style="margin-right:380px; margin-top: 1px;">
    <a type="button" href="/notas6" class="btn btn-default btn-circle btn-xl">
    <svg style="color:#FF6D00;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
    </svg></a>   
    </div>
  </div>
</div>

<div class="row justify-content-md-center">
  <div class="col-md-8">
        <table  class="table table-hover order-table" style="font-family: 'Cuprum', sans-serif;background:#F5F6FF; color:#0D1E96; font-size:large" >
      <thead>
        <tr>
          <th scope="col">Nombres</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Actividad cotidiana</th>
          <th scope="col">Actividad integrado</th>
          <th scope="col">Examen</th>
          <th scope="col" style="color:#FF6D00 ;">Promedio</th>
        </tr>
      </thead>
      <tbody>
          {{#each list}}
        <tr style="text-align:center;">
          <td>{{this.Nombres}}</td>
          <td>{{this.Apellidos}}</td>
          <td>{{this.NotaAC}}</td>
          <td>{{this.NotaAI}}</td>
          <td>{{this.NotaEX}}</td>
          <td style="color:#FF6D00; font-weight:bold">{{this.Prom}}</td>

          <td> 
            <a href="/notas6/{{this._id}}" aria-pressed="true">
            <svg xmlns="http://www.w3.org/2000/svg" style="color:#0D1E96;"  width="10" height="10" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 30 30">
              <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
            </svg></a>
            <a href="/notas6/delete/{{this._id}}"
              onclick="return confirm('¿Esta seguro de eliminar?');"
              class="btn btn-danger btn-sm" style="background:#ff0000; color:#ffffff" role="button" aria-pressed="true">Borrar</a>
          </td>
      
        </tr>
      {{/each}}
      </tbody>
    </table>


  </div>
</div>
