<style>
    body {
        background-color: #0D1E96;
    }
    div.content{
        height: 1300px;
        margin-top: 30px;
        margin: 30px;
        background-color: #F5F6FF;
    }
    .contenedor-icono svg{
    width: 50px;
    height: 50px;
    color:#FF6D00;
    }
    .contenedor-icono1 svg{
    width: 50px;
    height: 50px;
    color:#0D1E96;
    }
</style>
<div  class="content contenedor-icono">
    <a type="button"  href="/notas1/listNotas1" style=" margin-top:20px; margin-left:20px;border-radius:30px" class="btn btn-default btn-circle btn-xl">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
    </svg></a>
    

  <center><h1 style="font-family:copperplate; color:#0D1E96;font-family: 'Cuprum', sans-serif; " class="mb-4">{{viewTitle}}</h1></center>
  <div class="row justify-content-md-center" style="font-size:larger;">
  <div class="col-md-4" style="margin-top: ;">
    <form action="/notas1" method="post">
      <input type="hidden" name="_id" value="{{nota1._id}}">
       <div class="form-group" style="color:#0D1E96; font-family: 'Cuprum', sans-serif;">
         <strong>Nombres</strong> 
         <input type="text" onkeypress="return soloLetras(event)" name="Nombres" id="Nombres"  class="form-control" placeholder="Escriba nombres" style="background-color:#c6d8ff; border-color:#F3F5F9; color:#0D1E96" value="{{nota1.Nombres}}" required>
       </div>
       <br>
       <div class="form-group" style="color:#0D1E96; font-family: 'Cuprum', sans-serif;">
          <strong>Apellidos</strong> 
         <input type="text" onkeypress="return soloLetras(event)" name="Apellidos" id="Apellidos" class="form-control" placeholder="Escriba apellidos" style="background-color:#c6d8ff; border-color:#F3F5F9; color:#0D1E96" value="{{nota1.Apellidos}}" required>
       </div>
       <br>
       <div class="form-group" style="color:#0D1E96; font-family: 'Cuprum', sans-serif;">
          <strong>Actividad Cotidiana Trimestre 1</strong> 
         <input type="text" onkeypress="return soloNumeros(event)" name="NotaAC" id="NotaAC" class="form-control" placeholder="Nota de actividad cotidiana" style="background-color:#c6d8ff; border-color:#F3F5F9; color:#0D1E96" value="{{nota1.NotaAC}}" required>
       </div>
       <br>
       <div class="form-group" style="color:#0D1E96; font-family: 'Cuprum', sans-serif;">
          <strong>Actividad Integradora Trimestre 1</strong> 
         <input type="text" onkeypress="return soloNumeros(event)" name="NotaAI" id="NotaAI" class="form-control" placeholder="Nota de actividad integradora" style="background-color:#c6d8ff; border-color:#F3F5F9; color:#0D1E96" value="{{nota1.NotaAI}}" required>
       </div>
       <br>
       <div class="form-group" style="color:#0D1E96; font-family: 'Cuprum', sans-serif;">
          <strong>Examen Final Trimestre 1</strong> 
         <input type="text" onkeypress="return soloNumeros(event)" name="NotaEX" id="NotaEX"  class="form-control" placeholder="Nota del examen final evaluativo" style="background-color:#c6d8ff; border-color:#F3F5F9; color:#0D1E96" value="{{nota1.NotaEX}}" required>
       </div>
       <br>
       <div class="form-group" style="color:#0D1E96; font-family: 'Cuprum', sans-serif;">
           <strong>Actividad Cotidiana Trimestre 2</strong> 
         <input type="text" onkeypress="return soloNumeros(event)" name="NotaAC2" id="NotaAC2" class="form-control" placeholder="Nota de actividad cotidiana" style="background-color:#c6d8ff; border-color:#F3F5F9; color:#0D1E96" value="{{nota1.NotaAC2}}" required>
       </div>
       <br>
       <div class="form-group" style="color:#0D1E96; font-family: 'Cuprum', sans-serif;">
          <strong>Actividad Integradora Trimestre 2</strong> 
         <input type="text" onkeypress="return soloNumeros(event)" name="NotaAI2" id="NotaAI2" class="form-control" placeholder="Nota de actividad integradora" style="background-color:#c6d8ff; border-color:#F3F5F9; color:#0D1E96" value="{{nota1.NotaAI2}}" required>
       </div>
       <br>
       <div class="form-group" style="color:#0D1E96; font-family: 'Cuprum', sans-serif;">
         <strong>Examen Final Trimestre 2</strong> 
         <input type="text" onkeypress="return soloNumeros(event)" name="NotaEX2" id="NotaEX2"  class="form-control" placeholder="Nota del examen final evaluativo" style="background-color:#c6d8ff; border-color:#F3F5F9; color:#0D1E96" value="{{nota1.NotaEX2}}" required>
       </div>
       <br>
       <div class="form-group" style="color:#0D1E96; font-family: 'Cuprum', sans-serif;">
           <strong>Actividad Cotidiana Trimestre 3</strong> 
         <input type="text" onkeypress="return soloNumeros(event)" name="NotaAC3" id="NotaAC3" class="form-control" placeholder="Nota de actividad cotidiana" style="background-color:#c6d8ff; border-color:#F3F5F9; color:#0D1E96" value="{{nota1.NotaAC3}}" required>
       </div>
       <br>
       <div class="form-group" style="color:#0D1E96; font-family: 'Cuprum', sans-serif;">
         <strong>Actividad Integradora Trimestre 3</strong> 
         <input type="text" onkeypress="return soloNumeros(event)" name="NotaAI3" id="NotaAI3" class="form-control" placeholder="Nota de actividad integradora" style="background-color:#c6d8ff; border-color:#F3F5F9; color:#0D1E96" value="{{nota1.NotaAI3}}" required>
       </div>
       <br>
       <div class="form-group" style="color:#0D1E96; font-family: 'Cuprum', sans-serif;">
        <strong>Examen Final Trimestre 3</strong> 
         <input type="text" onkeypress="return soloNumeros(event)" name="NotaEX3" id="NotaEX3"  class="form-control" placeholder="Nota del examen final evaluativo" style="background-color:#c6d8ff; border-color:#F3F5F9; color:#0D1E96" value="{{nota1.NotaEX3}}" required>
       </div>
       <br>
     <center><strong><button type="submit" class="btn btn-lg" style=" font-family: 'Cuprum', sans-serif;background-color:#0D1E96;color:#ffffff">Guardar</button></strong></center>
    </form>
</div>

</div>

<script>
  function soloLetras(e) {
    let key = e.keyCode || e.which,
      tecla = String.fromCharCode(key).toLowerCase(),
      letras = " áéíóúabcdefghijklmnñopqrstuvwxyz",
      especiales = [8, 37],
      tecla_especial = false;

    for (let i in especiales) {
      if (key == especiales[i]) {
        tecla_especial = true;
        break;
      }
    }

    if (letras.indexOf(tecla) == -1 && !tecla_especial) {
      return false;
    }
  }

  function soloNumeros(a) {
    let key2 = a.keyCode || a.which,
      tecla = String.fromCharCode(key2).toLowerCase(),
      numeros = " 0123456789.",
      especiales = [8, 37],
      tecla_especial = false;

    for (let i in especiales) {
      if (key2 == especiales[i]) {
        tecla_especial = true;
        break;
      }
    }

    if (numeros.indexOf(tecla) == -1 && !tecla_especial) {
      return false;
    }
  }


</script>