<style>
    body {
        background-color: #F3F5F9;
    }
    .contenedor-icono svg{
    width: 50px;
    height: 50px;
    color:#393E46;
    }
    .contenedor-icono1 svg{
    width: 50px;
    height: 50px;
    color:#393E46;
    }
</style>

<div class="contenedor-icono1">
   <a type="button"  href="/vernota" style="background:#393E46; margin-top:20px; margin-left:20px;font-family:courier new; color:#FDF6EC; border-radius:50px;" class="btn btn-default btn-circle btn-xl"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
    </svg> Atrás</a>    
</div>

<center><h1 style="font-family:copperplate; color:#393E46; margin-top: 50px;" class="mb-4">LISTADO DE CALIFICACIONES CUARTO GRADO</h1></center>

<div class="position-relative">
  <div class="position-absolute top-0 start-100 translate-middle">
    <div class="contenedor-icono" style="margin-right:400px; margin-top: 1px;">
    <a type="button" href="/notas4" class="btn btn-default btn-circle btn-xl"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
    </svg></a>   
    </div>
  </div>
</div>

<div class="row justify-content-md-center">
  <div class="col-md-8">
        <table  class="table" style="background:#ffff; font-size:large; font-family:courier new" >
      <thead>
        <tr>
          <th scope="col">Nombres</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Actividad cotidiana</th>
          <th scope="col">Actividad integrado</th>
          <th scope="col">Examen</th>
          <th scope="col">Promedio</th>
        </tr>
      </thead>
      <tbody>
          {{#each list}}
        <tr>
          <td>{{this.Nombres}}</td>
          <td>{{this.Apellidos}}</td>
          <td>{{this.NotaAC}}</td>
          <td>{{this.NotaAI}}</td>
          <td>{{this.NotaEX}}</td>
          <td>{{this.Prom}}</td>
          <td> 
            <a href="/notas4/{{this._id}}" class="btn btn-light btn-lg" style="background: #929AAB;" role="button" aria-pressed="true">Modificar</a>
            <a href="/notas4/delete/{{this._id}}"
              onclick="return confirm('¿Esta seguro de que desea eliminar el registro?');"
              class="btn btn-light btn-lg" style="background: #EEEEEE;" role="button" aria-pressed="true">Eliminar</a>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>