<style>
    body {
        background-color: #0D1E96;
    }
    div.content{
        height: 800px;
        margin-top: 30px;
        margin: 30px;
        background-color: #F5F6FF ;
    }
    .contenedor-icono svg{
    width: 50px;
    height: 50px;
    color:#FF6D00;
    }
    .contenedor-icono1 svg{
    width: 50px;
    height: 50px;
    color:#0D1E96;
    }

    html, body {
               
            }
            .description {
                text-align: center;
                padding-bottom: 40px;
            }
            .jsCalendar.clean-theme tbody  td.jsCalendar-previous, .jsCalendar.clean-theme tbody td.jsCalendar-next {
                color: #000;
                opacity: 0.2;
                
            }
            #wrapper {
                margin-left:70px;
				margin-top: 50px;
                width: 350px;
                box-shadow:  2px 2px 2px rgba(0, 42, 255, 0.4);
            }
            #wrapper .jsCalendar table {
                box-shadow: none;
            }
            .clear {
                clear: both;
            }
            #events-calendar {
                float: left;
            }
            #events {
                float: left;
                width: 435px;
                margin: 10px 20px 10px 5px;
            }
            #events .title {
                padding: 5px 0px;
                text-align: center;
                font-weight: bold;
                border-bottom: 1px solid rgba(252, 94, 2, 0.4);
            }
         
           
            .version {
                font-size: 12px;
                width: 800px;
                margin: 0 auto;
                text-align: right;
            }



body {
  
    margin: 0;
    height: 100vh;
 
}

*:first-letter {
    text-transform: capitalize;
}

.roundBorder {
    border-radius: 5px;
}

.right{
    float: left;
  
}
.flex{
    float: left;
  
}
.list {

    margin-left: 50%;
    padding: 25px;
    background-color: var(--light);
    width: 100%;
    max-width: 350px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: space-between;
	color:#0D1E96;
}

.dateRight {
    display: flex;
    align-items: center;
	color:#0D1E96;
}

#dateNumber {
    font-size: 50px;
	color:#0D1E96;
}

#dateText {
    letter-spacing: 3px;
    text-transform: uppercase;
	color:#0D1E96;
}

#dateMonth,
#dateNumber,
#dateText  {
    font-weight: bold;
}

#dateMonth,
#dateYear {
    margin-left: 7px;
    font-size: 20px;
}

form {
    margin: 25px 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 35px auto;
    grid-column-gap: 15px;
}

input {
    border: none;
    padding-left: 10px;
    background-color: var(--diabled);
}

input:focus {
    outline: none;
}

.addTaskButton,
.orderButton {
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.addTaskButton {
    height: 35px;
    border-radius: 50%;
    font-size: 18px;
    background-color: var(--diabled);
}

.task {
    background-color: var(--primary);
    padding: 20px;
    margin-top: 15px;
    color: var(--light);
    cursor: pointer;
}

.done {
    background-color: var(--diabled);
    text-decoration: line-through;
    color: var(--dark);
}
        
        
</style>
<div  class="content contenedor-icono">
    <a type="button"  href="/agenda" style="font-family: 'Cuprum', sans-serif; margin-bottom:1%; margin-left:20px;border-radius:30px" class="btn btn-default btn-circle btn-xl">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
    </svg></a>
  <center>
       <svg style="color: #0D1E96; margin-bottom:1%" xmlns="http://www.w3.org/2000/svg" width="5" height="5" fill="currentColor" class="bi bi-calendar2-day-fill" viewBox="0 0 25 25">
        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zm9.954 3H2.545c-.3 0-.545.224-.545.5v1c0 .276.244.5.545.5h10.91c.3 0 .545-.224.545-.5v-1c0-.276-.244-.5-.546-.5zm-2.24 4.855a.428.428 0 1 0 0-.855.426.426 0 0 0-.429.43c0 .238.192.425.43.425zm.337.563h-.672v4.105h.672V8.418zm-6.867 4.105v-2.3h2.261v-.61H4.684V7.801h2.464v-.61H4v5.332h.684zm3.296 0h.676V9.98c0-.554.227-1.007.953-1.007.125 0 .258.004.329.015v-.613a1.806 1.806 0 0 0-.254-.02c-.582 0-.891.32-1.012.567h-.02v-.504H7.98v4.105z"/>
      </svg>
    <h1 style=" color:#0D1E96; margin-top: 0 px;font-family: 'Cuprum', sans-serif;" class="mb-4">{{viewTitle}}</h1></center>
       <div class="flex">
		<script src="https://gramthanos.github.io/jsCalendar/js/jsCalendar.min.js"></script>
            <link href="https://gramthanos.github.io/jsCalendar/css/jsCalendar.min.css" rel="stylesheet"/>
            <link href="https://gramthanos.github.io/jsCalendar/css/themes/jsCalendar.clean.min.css" rel="stylesheet"/>
        <div id="wrapper">
            <!-- Calendar element -->
            <div id="events-calendar"></div>
            <!-- Events -->
            <div id="events"></div>
            <!-- Clear -->
            <div class="clear"></div>
        </div>
	   </div>
			<div class="right">
				<div class="list roundBorder">
				<div class="date">
					<div class="dateRight">
						<div id="dateNumber"></div>
						<div>
							<div id="dateMonth"></div>
							<div id="dateYear"></div>
						</div>
					</div>
					<div id="dateText"></div>
				</div>
				<form action="/calendario" method="post">
					<input type="hidden" name="_id" value="{{calen._id}}">
                    <input type="text"  name="taskText" id="taskText"  placeholder="Escribe tus apuntes y recordatorios" class="roundBorder" style=" font-family: 'Cuprum', sans-serif;background-color:#c6d8ff; height:80px; width:450px; border-color:#F3F5F9; color:#0D1E96; " value="{{calen.taskText}}" required>
					<button type="submit" class="addTaskButton">
						<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 25 25">
						<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
						</svg>
					</button>
					
				</form>

            <div id="tasksContainer" style=" font-family: 'Cuprum', sans-serif;background : #c6d8ff; padding : 5px;  width : 550px; height : 350px; overflow:scroll;">
            <div class="row justify-content-md-center">
            <div class="col-md-16">
             <table  class="table table-hover" style="background:#F5F6FF; color:#0D1E96; font-size:large;" >
 
            <tbody>
                {{#each list}}
                <tr>
                <td> 
                
                <a href="/calendario/delete/{{this._id}}" aria-pressed="true" onclick="return confirm('¿Esta seguro de eliminar?');">
                <svg xmlns="http://www.w3.org/2000/svg" style="color:#d10e0e;" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg></a>
                </td>


                <td >{{this.taskText}}</td>
                
                </tr>
                    {{/each}}
            </tbody>
            </table>

            </div>
            </div>

            </div>          
      
		<script>
			// Info date
		const dateNumber = document.getElementById('dateNumber');
		const dateText = document.getElementById('dateText');
		const dateMonth = document.getElementById('dateMonth');
		const dateYear = document.getElementById('dateYear');

		// Tasks Container
		const tasksContainer = document.getElementById('tasksContainer');

		const setDate = () => {
			const date = new Date();
			dateNumber.textContent = date.toLocaleString('es', { day: 'numeric' });
			dateText.textContent = date.toLocaleString('es', { weekday: 'long' });
			dateMonth.textContent = date.toLocaleString('es', { month: 'short' });
			dateYear.textContent = date.toLocaleString('es', { year: 'numeric' });
		};

		const addNewTask = event => {
			event.preventDefault();
			const { value } = event.target.taskText;
			if(!value) return;
			const task = document.createElement('div');
			task.classList.add('task', 'roundBorder');
			task.addEventListener('click', changeTaskState)
			task.textContent = value;
			tasksContainer.prepend(task);
			event.target.reset();
		};

		const changeTaskState = event => {
			event.target.classList.toggle('done');
		};

		const order = () => {
			const done = [];
			const toDo = [];
			tasksContainer.childNodes.forEach( el => {
				el.classList.contains('done') ? done.push(el) : toDo.push(el)
			})
			return [...toDo, ...done];
		}

		const renderOrderedTasks = () => {
			order().forEach(el => tasksContainer.appendChild(el))
		}

		setDate();
		</script>

         
              </div> 
    </div>
 

    <script>
        let elements = {
                // Calendar element
    calendar : document.getElementById("events-calendar")}

        // Create the calendar
            elements.calendar.className = "clean-theme";
            let calendar = jsCalendar.new(elements.calendar);

    </script>


		

