<style>
    body {
        background-color: #F3F5F9;
    }
    .contenedor-icono svg{
    width: 50px;
    height: 50px;
    color:#393E46;
    }
</style>

<div class="contenedor-icono">
    <a type="button"  href="/notas2/listNotas2" style="background:#393E46; margin-top:20px; margin-left:20px;font-family:courier new; color:#F3F5F9;border-radius:50px;" class="btn btn-default btn-circle btn-xl"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
    </svg> Ver Lista</a>
</div>

<center><h1 style="font-family:copperplate; color:#393E46; margin-top: 50px;" class="mb-4">{{viewTitle}}</h1></center>

<div class="row justify-content-md-center" style="font-size:larger;">
 <div class="col-md-4" style="margin-top: ;">
    <form action="/notas2" method="post">
      <input type="hidden" name="_id" value="{{nota2._id}}">

       <div class="form-group" style="font-family:courier new">
         <strong>Nombres</strong> 
         <input type="text" name="Nombres" id="Nombres" class="form-control" placeholder="Escriba los nombres" style="background-color:#F3F5F9; border-color:#F3F5F9; color:#000" value="{{nota2.Nombres}}" required>
       </div>

       <br>
       <div class="form-group" style="font-family:courier new">
         <strong>Apellidos</strong> 
         <input type="text" name="Apellidos" id="Apellidos" class="form-control" placeholder="Escriba los apellidos" style="background-color:#F3F5F9; border-color:#F3F5F9; color:#000" value="{{nota2.Apellidos}}" required>
       </div>

       <br>
       <div class="form-group" style="font-family:courier new">
          <strong>Actividad Cotidiana</strong> 
         <input type="number" name="NotaAC" id="NotaAC" class="form-control" placeholder="Ingresar nota de la actividad cotidiana" style="background-color:#F3F5F9; border-color:#F3F5F9; color:#000"value="{{nota2.NotaAC}}" required>
       </div>

       <br>
       <div class="form-group" style="font-family:courier new">
          <strong>Actividad Integradora</strong> 
         <input type="number" name="NotaAI" id="NotaAI" class="form-control" placeholder="Ingresar nota de la actividad integradora" style="background-color:#F3F5F9; border-color:#F3F5F9; color:#000"value="{{nota2.NotaAI}}" required>
       </div>

       <br>
       <div class="form-group" style="font-family:courier new">
          <strong>Examen Final</strong> 
         <input type="number" name="NotaEX" id="NotaEX" class="form-control" placeholder="Ingresar nota del examen final evaluativo" style="background-color:#F3F5F9; border-color:#F3F5F9; color:#000"value="{{nota2.NotaEX}}" required>
       </div>

       <br>
     <center><strong><button type="submit" class="btn btn-lg" style="font-family:optima; background-color:#393E46; border-color:#393E46; color:#F3F5F9">Guardar</button></strong></center>
    </form>
  </div>

</div>